spring:
  application:
    name: example-rag-by-spring-documentation

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  ai:
    ollama:
      base-url: http://localhost:11434
      chat:
        model: gemma3:4b-it-q4_K_M

logging:
  level:
    org.springframework.ai.chat.client.advisor: DEBUG
